.caixa {
	width: 400px;
	background: #dedede url(../imagens/topo.png) no-repeat left top;
}

.caixa h2 {
 padding-left: 10px 20px 0 20px;
}

.caixa p{
	padding-left: 0px 20px 20px 20px;
	background: url(../imagens/baixo.png) no-repeat left bottom;
	
}